<div class="ui inverted accordion">
	<div id="header" class="ui inverted segment column box">		
		{{/*Author*/}}
		<header id="author" class="ui top attached center aligned inverted segment">
			{{ partial "author.html" . }}
			{{ partial "twitter.html" .}}
			{{ partial "opengraph.html" .}}
		</header>

		{{/*Dropdown button*/}}
		<div class="{{ cond .IsPage `` `active` }} title header-title">
			{{ if or $.Site.Params.categories.enabled $.Site.Params.tags.enabled }}
				<div id="tag-category-pop" class="ui red right corner label">
					<i class="hand point icon {{ cond .IsPage `down` `up` }}" title="{{ i18n "popTagsCategories" }}"></i>
				</div>
			{{ end }}
		</div>
		
		{{/*Tags and categories*/}}
		<div id="tag-category" class="{{ if not .IsPage }}active{{ end }} content">
			{{ if and $.Site.Params.tags.enabled $.Site.Taxonomies.tags }}
				<section class="ui attached center aligned inverted segment dream-tags none flexbox">
					{{ $limit := $.Site.Params.tags.tagLimit | default 8 }}
					{{ $args := dict "context" . "isPost" false "tags" $.Site.Taxonomies.tags "limit" $limit }}
					{{ partial "tags.html" $args }}
				</section>
			{{ end }}

			{{ if and $.Site.Params.categories.enabled $.Site.Taxonomies.categories }}
				<section class="ui attached inverted segment dream-categories both flexbox">
					<div class="inverted accordion">
						{{ partial "categories.html" . }}
					</div>
				</section>
			{{ end }}
		</div>

		{{/*Footer*/}}
		<footer class="ui bottom attached center aligned inverted segment">
			{{ partial "footer.html" . }}
		</footer>
  </div>
</div>
<head>
  <!-- MathJax -->
  {{ if .Params.mathjax }}
  {{ partial "mathjax_support.html" . }}
  {{ end }}
  <!--
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6234026711317513",
      enable_page_level_ads: true
    });
  </script>
  <script data-ad-client="ca-pub-6234026711317513" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  -->
</head>
